h1 {
	text-align: center;
}
h2{
	text-align: center;
}
img {
  width: 10%;
  display: block;
  margin-left: 45%; 
  margin-right: 55%; 
}
#banner {
  background-image: url("https://vignette.wikia.nocookie.net/brawloftheobjects/images/5/50/Wiki-background/revision/latest?cb=20131104182356");
  background-size: cover;
  background-position: bottom center;
  height: 60%;
  width: 100%;
}